html, body{
    background: url('./components//Images//bg12.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-container{
    text-align: center;
}

.section1{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

#section2{
    text-align: center;
    margin-top: -16px;
    margin-bottom: 10px;
}

#heading{
    font-size: 50px;
    text-align: center;
    color: rgb(13, 21, 58);
    margin-top: -30px;
    margin-bottom: 10px;
}

#input{
    width: 60%;
    height: 46px;
    border-radius: 5px;
    font-size: large;
    margin-bottom: 0px;
}

#search{
    width: 100px;
    height: 50px;
    font-size: larger;
    color: white;
    background-color: rgb(7, 38, 47);
    border-radius: 5px;
}

#snapshot-small{
    margin: 8px;
    margin-left: 2px;
    color: rgb(4, 239, 55);
    width: fit-content;
}

#dots-main{
    display: flex;
    width: fit-content;

}

.dots{
    width: 18px;
    height: 18px;
    background-color: white;
    margin-right: 3px;
    border-radius: 120px;
}

#dot1{
    background-color: red;
}
#dot2{
    background-color: rgb(238, 245, 34);
}
#dot3{
    background-color: rgb(37, 154, 200);
}

.link{
    padding: 6px;
    color: rgb(223, 242, 242);
    font-size: 22px;
    border-radius: 5px;
    margin-right: 20px;
    text-decoration: none;
    background-color: rgb(33, 43, 61);
    border: 1px solid rgb(103, 151, 164);
    display: inline-flex;
    justify-content: center;
    width: 118px;
    margin-top: 20px;
}

#images{
    width: 580px;
    height: 420px;
    padding-left: 4px;
}

#display-gallery{
    text-align: center;
}